# Gradle
.gradle/
build/

# IntelliJ Platform plugin sandbox & downloaded IDE
.intellijPlatform/

# Kotlin metadata
.kotlin/

# IntelliJ IDEA
/.idea
*.iml
*.ipr
*.iws

# macOS
.DS_Store
**/.DS_Store

# Logs
*.log
